################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Fifth/v16
/.vs/OOP/v16
/.vs/Practise/v16
/.vs/Practise1/v16
